#corp{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-size: 5cqmax;
}

#travail{
    color: aliceblue;
}

#pause{
    color : gray;
}

.texte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 10px black;

}

.contenaire_tmp{
    margin-top: 15%;
    display: flex;
    border-radius: 50%;
    height: 325px;
    width: 325px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px 10px black;
}


#temps{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: solid 5px whitesmoke;
    border-radius: 50%;
    font-size: 400%;
    
}

#demaree{
    border: solid 2px white;
    background-color: red;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 20%;
    
}

.icone{
    color: white;
}