body{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 1vh;
    margin-bottom: 2vh;
    color: white;
    font-size: 5vw;
}

#travail{
    color: aliceblue;
}

#pause{
    color : gray;
}

.texte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 5vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 10px black;
    margin-bottom: 2.5vh;
}

h2{
    font-size: 3vw;
}

.contenaire_tmp{
    margin-top: 3vw;
    display: flex;
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px 10px black;
}


#temps{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 20vw;
    border: solid 5px whitesmoke;
    border-radius: 50%;
    font-size: 6vw;
    
}

#bouton{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vw;
    width: 20vw;
    margin: 1vh;
    margin-top: 2.5vh;
}

#demaree,#parametrer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px white;
    background-color: red;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    
}


.fa-play,.fa-gear,.fa-arrows-rotate{
    font-size: 4vw;
    color: white;
}

.fa-play:hover,.fa-gear:hover,.fa-arrows-rotate:hover{
    font-size: 4.5vw;
}


#formulaire{
    position: absolute;
    display: none;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 10vh;
    flex-direction: column;
    background-color: lightgray;
    opacity: 98%;
    border-radius: 10%;
    align-items: center;
}

h3{
    font-size: 3vw;
    text-align: center;
    color: midnightblue;
    margin-bottom: 3vh;
}

label{
    font-size: 2vw;
}

input{
    font-size: 1vw;
}

#boutonFormulaire{
    margin-top: 1.5vh;
}
#validee,#annulee{
    border-radius: 10%;
    margin: 2vh;
    border: none;
}

.fa-check{
    font-size: 3vw;
    color: green;
}

.fa-cancel{
    font-size: 3vw;
    color: red;
}

#validee:hover{
    background-color: gray;
}

#annulee:hover{
    background-color: gray;
}



li{
    margin-bottom: 1.5vh;
}

ul {
    list-style-type: none;
}

