body{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-size: 7vw;
}

#travail{
    color: aliceblue;
}

#pause{
    color : gray;
}

.texte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 10vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 10px black;

}

h2{
    font-size: 5vw;
}

.contenaire_tmp{
    margin-top: 15%;
    display: flex;
    border-radius: 50%;
    height: 40vw;
    width: 40vw;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px 10px black;
}


#temps{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 30vw;
    border: solid 5px whitesmoke;
    border-radius: 50%;
    font-size: 8vw;
    
}

#bouton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vw;
    width: 20vw;
    margin: 3vh;
}

#demaree,#parametrer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px white;
    background-color: red;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    
}


.fa-play,.fa-gear,.fa-arrows-rotate{
    font-size: 3vw;
    color: white;
}

#formulaire{
    position: absolute;
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    opacity: 98%;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 3vw;
    text-align: center;
}

label{
    font-size: 5vw;
}

input{
    font-size: 1vw;
}


#boutonFormulaire{
    background-color: lightgrey;
}
#validee,#annulee{
    background-color: lightgrey;
    border: solid 3px lightgrey;
}



.fa-check{
    font-size: 3vw;
    color: green;
}

.fa-cancel{
    font-size: 3vw;
    color: red;
}

ul {
    list-style-type: none;
}